
    
    
     
     
     <div class="container "  id="border"> <div class=" text-center mt-5 " style="margin:auto ;" >
        <h1></h1>
        <div class="col-sm-4"> 
          Search: <input type="text" #search (keyup)="dosearch(search.value)"> &nbsp;
        <a routerLink="/addhotel"><button class="btn btn-success">Add Hotel</button></a>
         </div>
      
      </div>
      <div class="row ">
        <div class="col-lg-12 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
         
    <table class="table table-striped"

    >
    
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let h of hotels;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{h.uname}}</td>
            <td>{{h.uemail}}</td>
            <td>{{h.uphone}}</td>
            <td>
               <a routerLink="/edithotel/{{h._id}}"> <button class="btn btn-primary">Edit</button></a> &nbsp;
                <button class="btn btn-danger" (click)="deletehotel(h._id)">Delete</button>
            </td>
          </tr>
          <p *ngIf="hotels.length==0">
            NO RECORDS FOUND
          </p>
 
        </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>
      </div>
