<div class="bg">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span>
          <img src="assets/images/5-stars.png" style="height: 60px;">
        </span>
        <span>
          <h1>HOTEL RESERVATION</h1>
        </span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item" *ngIf="!userSer.isLoggedin()">
          <a routerLink="/" class="nav-link active" aria-current="page">Login</a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="userSer.isLoggedin()">
          <a routerLink="/booking" class="nav-link active"><b>BOOKING</b></a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="userSer.isLoggedin()">
          <a routerLink="/photos" class="nav-link active"><b>GALLERY</b></a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="userSer.isLoggedin()">
          <a routerLink="/mybookings/{{getUserId()}}" class="nav-link active"><b>MY BOOKINGS</b></a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="isadmin()">
          <a routerLink="/user" class="nav-link active"><b>CUSTOMERS</b></a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="isadmin()">
          <a routerLink="/hotel" class="nav-link active"><b>HOTEL MANAGEMENT</b></a>
        </li>
        &nbsp;

        <li class="nav-item" *ngIf="userSer.isLoggedin()">
          <a (click)="dologout()" class="nav-link active" aria-current="page"><b>LOGOUT</b></a>
        </li>
        &nbsp;
      </ul>
    </header>
  </div>
</div>

