
                       
                   <div class="container "  id="border"> <div class=" text-center mt-5 " style="margin:auto ;" >
                    <h1>BOOKING STATUS</h1>
                    <br>
                    <br>
                    
                
                </div>
                <div class="alert alert-success" role="alert" style="text-align: center;" >
                   RESERVATION IS SUCCESSFULL PLEASE CHECK YOUR  BOOKINGS
                </div>
                <div style="margin-left: 25%;">
                <p>

                </p>
                </div>
                </div>
                        
